
    body {
      font-family: arial;
    }

    paper-toolbar.tall {
      height: 150px !important;
    }

    paper-toolbar, paper-fab {
      background: #FF6B00 !important;
    }

    #navheader {
      font-size: inherit;
      color: #fff;
    }
    #navheader .bottom :last-child {
      font-size: small;
      opacity: .8;
    }
    #coverimage {
      height: 192px;
      top: 0;
    }

    paper-icon-item {
      display: block;
      padding: 20px;
    }
    paper-icon-item iron-icon {
      width: 56px !important;
    }

    img.profile {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      margin: 0px 15px 0px 10px;
      background-image: url("back.jpg");
    }

    #navheader .profile {
      width: 80px;
      height: 80px;
      border: solid 1px;
    }

    .title1, .profile {
      z-index: 1;
      text-transform: uppercase;
    }

    .subtitle1 {
      font-size: 13px;
      margin-top: -80px;
      color: #E0E0E0;
    }

    .title2 {
      font-size: 24px !important;
      text-transform: uppercase;
    }
    .message, paper-material {
      padding: 8px;
      color: #044204;
    }
    .message .text {
      color: grey;
    }
    .message .owner {
      padding-top: 10px;
    }
    .message .time {
      position: absolute;
      top: 35px;
      right: 5px;
      font-size: 12px;
      color: grey;
    }
    .message .time .ts {
      display: none;
    }

    .messages {
      overflow-y: auto;
    }
    .write {
      padding: 0px 20px 5px 20px;
    }

    paper-dialog {
      padding: 5px;
      min-width: 500px;
    }
    paper-button {
      padding: 10px;
      color: black;
    }
    paper-badge {
        margin: 5px -10px;
    }
